<article class='project'>

  <blockquote class='description well'>
    {{md description}}
    <small>
      {{time createdAt}} &mdash; {{duration}} h
    </small>
  </blockquote>

  <div class='tasks'>
    {{render 'tasks' tasks}}
  </div>

  {{outlet}}

</article>
