<article class='task'>
  <header>
    <h2>{{name}}</h2>
  </header>
  <blockquote class='description well'>
    {{md description}}
  </blockquote>
  <div class='activities'>
    {{view App.ActivityFormView}}

    {{#each activities}}
      {{render 'activity' this}}
    {{else}}
      <p class='empty well well-small'>There is no activity yet</p>
    {{/each}}
  </div>
</article>
